body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}

.fexeble-container{
    display: flex;
    margin: 0;
}

.half-witdh{
     width: 50%;
     padding-left: 5%;
     box-shadow: 5px 5ps 10px gray;
    

}
.half-witdh img{
    width: 50%;
    padding-right: 50%;
    padding-left: 30%;
}
.link-button{
   text-decoration: none;
  font-weight: 800;
   background-image: linear-gradient(orange tomato) ;
  
   background-color: rgb(131, 65, 19);
   padding-left: 5%;
   padding-right: 5%;
   border-radius: 6%;
   width: 3%;
  
 
}

.misson22{
    text-align: center;
}
.eprence{
  width: 30%;
  height: 30%;
  border-radius: 6%;
margin-left: 5%;
margin-right: 5%;
margin-right: 5%;

   
}
#usa{
    background-image: url(images/illustrator-1.png);
    background-repeat: no-repeat;
    background-position: bottom;

}





